---
import { getCollection, render } from 'astro:content'
import PostContent from '@/layouts/PostContent.astro'
import PostCategory from '@/components/PostCategory.astro'
import { createDateGetterForCollection } from '@/utils/auto-date'

export async function getStaticPaths() {
  const postEntries = await getCollection('posts')
  const dateGetter = await createDateGetterForCollection('posts')

  return postEntries.map((entry) => {
    const { id, data } = entry

    const autoDate = dateGetter(id)

    const date = {
      pubDate: data.pubDate ?? autoDate.pubDate,
      patchDate: data.patchDate ?? autoDate.patchDate
    }

    return {
      params: { slug: id },
      props: { entry, date }
    }
  })
}

const { slug } = Astro.params
const { entry, date } = Astro.props
const { Content, headings } = await render(entry)
---

<PostContent
  title={entry.data.title}
  slug={slug}
  date={date}
  weather={entry.data.weather}
  headings={headings}
  comment
  previewCounter
>
  <Content set:html={entry.rendered?.html} />

  <section
    slot="after-article"
    class="px-xs md:px-0 border-t-dashed border-var-primary border-1"
  >
    <ul class="pl-0 list-none text-var-font-primary/80">
      <PostCategory category={entry.data.categories[0]} />
    </ul>
  </section>
</PostContent>
