---
import { getCollection } from 'astro:content'
import PostContent from '@/layouts/PostContent.astro'
import PostCategory from '@/components/PostCategory.astro'
import { createDateGetterForCollection } from '@/utils/auto-date'

export async function getStaticPaths() {
  const postEntries = await getCollection('posts')
  const dateGetter = await createDateGetterForCollection('posts')

  return postEntries.map((entry) => {
    const autoDate = dateGetter(entry.id)

    const date = {
      pubDate: entry.data.pubDate ?? autoDate.pubDate,
      patchDate: entry.data.patchDate ?? autoDate.patchDate
    }

    return {
      params: { slug: entry.slug },
      props: { entry, date }
    }
  })
}

const { entry, date } = Astro.props
const { Content, headings } = await entry.render()
---

<PostContent
  title={entry.data.title}
  slug={entry.slug}
  date={date}
  weather={entry.data.weather}
  headings={headings}
  comment
  previewCounter
>
  <Content />

  <section slot="after-article" class="px-xs md:px-0 border-t-dashed border-var-primary border-1">
    <ul class="pl-0 list-none text-var-font-primary/80">
      <PostCategory category={entry.data.categories[0]} />
    </ul>
  </section>
</PostContent>
