---
import { blogConfig } from '#'
import { isExternalLink } from '@/utils/link'
---

<>
  {
    blogConfig.blog.navbarLinks.map(({ title, link, icon, name, target }) => (
      <a
        target={target ?? isExternalLink(link) ? '_blank' : '_self'}
        title={title}
        class="line-height-4 link opacity-80 current:opacity-100 hover:opacity-100 transition-color font-italic font-mono text-lg text-var-link-top-nav"
        href={link}
      >
        <span class={icon}>{name}</span>
      </a>
    ))
  }
</>

<script>
  import { hydrate } from '@/utils/hydrate'

  hydrate(() => {
    document
      .querySelectorAll<HTMLAnchorElement>(`a[href='${location.pathname}']`)
      .forEach((el) => {
        el.dataset.current = 'true'
        el.onclick = (e) => e.preventDefault()
      })
  })
</script>
